# Add any directories, files, or patterns you don't want to be tracked by version control
pro_builder_test/Library/
pro_builder_test/Logs/
pro_builder_test/Temp/
pro_builder_test/Debug/
pro_builder_test/.vs/
pro_builder_test/obj/
pro_builder_test/Assets/MyGameAssets/StockAssets
*.csproj
*.sln
*.log
pro_builder_test/Bin/
*.user
pro_builder_test/Assets/_TerrainAutoUpgrade/
pro_builder_test/RewiredBackup/
pro_builder_test/Assets/Editor/x64/Bakery/.uvgblog.txt
pro_builder_test/Assets/Editor/x64/Bakery/.ftracelog.txt
pro_builder_test/Assets/Editor/x64/Bakery/.denoiserlog.txt
pro_builder_test/SwitchIL2CPPCache/
pro_builder_test/SwitchIL2CPPStats/
pro_builder_test/Assets/Rewired/Documentation/
pro_builder_test/ProjectSettings/ProBuilderSettings.json
lfs/
pro_builder_test/Assets/Ultimate GPU Particle System/Demo/
pro_builder_test/Assets/VertExmotion/Demos/
pro_builder_test/Assets/VertExmotion/Doc/
pro_builder_test/Assets/VertExmotion/Demos.meta
pro_builder_test/Assets/Ultimate GPU Particle System/Demo.meta
pro_builder_test/Assets/VertExmotion/Doc.meta
